html{
    background-color:black ;
}
.titulo{
    font-size: 25px;
    font-style:normal;
    height: 60px;
    border: 5px solid    black;
    color:#EA5252;
    font-family: "Creepster", system-ui;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.zapatosJordan{
    border: 5px solid black;
    display: flex;
    align-items: center;     /* Centra los tenis verticalmente */
    padding-left: 1px;
}
.zapatos1{
    width: 400px;
}
.zapatos2{
    width: 400px;
}
hr {
    border: 1px solid;
    color: #EA5252;
} 



